
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.pubxml
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

#Nuget
packages/
nuget.exe

#VS2012
_Upgrade*
UpgradeLog.*
Backup/
Cairo.Web.Client/App_Data/rpt/facilityMonthly/
Cairo.Web.Client/App_Data/rpt/corpMonthly/
Cairo.Web.Client/App_Data/rpt/reports/
